<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         id="emf"
         name="emf"
         point="org.eclipse.epsilon.common.dt.modelType">
      <modelType
            class="org.eclipse.epsilon.emu.emf.EmfModelEMU"
            dialog="org.eclipse.epsilon.emu.emf.dt.EmuEmfModelConfigurationDialog"
            icon="icons/emf.gif"
            label="EMF Model for EMU"
            stable="true"
            type="EMF EMU"/>
   </extension>
   <extension
         point="org.eclipse.epsilon.common.dt.prettyPrinter">
      <prettyPrinter class="org.eclipse.epsilon.emc.emf.EmfPrettyPrinter"/>
   </extension>
   <extension
         point="org.eclipse.epsilon.common.dt.tool">
      <tool
            class="org.eclipse.epsilon.emc.emf.tools.EmfTool"
            defaultName="emfTool">
      </tool>
   </extension>
</plugin>
